<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="AppUrl" value="http://localhost:4199/" />
  </appSettings>
  <connectionStrings>
    <add name="DiarioEscolarEntities" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=False;database=DiarioEscolar_teste;AttachDBFilename=|DataDirectory|DiarioEscolar_teste.mdf" providerName="System.Data.SqlClient"/>
    <add name="SqlCeServices" connectionString="data source=|DataDirectory|\SqlCeAspnetdb.sdf" />
  </connectionStrings>  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />    
  </specFlow>
</configuration>