@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Ferramenta para facilitar o acompanhamentos escolar dos alunos.
            </p>
        </div>
    </section>
}


@foreach (var anoSerie in ViewBag.AnoSeries){
    
    <p>
        <h5>@anoSerie.Serie</h5>
        @foreach (DiarioEscolar.ViewModels.MateriaViewModel materia in anoSerie.Materias)
            {           
                @Html.ActionLink(materia.Descricao, "Edit", "NotaFalta", new { AnoSerieId = anoSerie.AnoSerieId, MateriaId = materia.MateriaId }, null)        
            }

    </p>            
    }