@{
    ViewBag.Title = "";
    bool primeiro = true;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}


@foreach (var anoSerie in ViewBag.AnoSeries)
{
    
     <div class="bloco_anoserie">
        <h2>@anoSerie.Serie</h2>

        @foreach (DiarioEscolar.ViewModels.MateriaViewModel materia in anoSerie.Materias)
        {           
                if (primeiro)
                { primeiro = false;}
                else
                {@Html.Raw(" - ");
                }                        
                @Html.ActionLink(materia.Descricao, "Edit", "NotaFalta", new { AnoSerieId = anoSerie.AnoSerieId, MateriaId = materia.MateriaId }, null)        
        }

    </div>            
    }