@model DiarioEscolar.Models.Materia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Materia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MateriaId }) |
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.AnoSerieId })
</p>
