<div id="flash-messages" class="alert alert-success" style="display:none;">    
    <a class="close" href="#">&times;</a>
    <b><p></p></b>
</div>

<script type="text/javascript">
    $(function () {
        $("#flash-messages").flashMessage();
    });
</script>