<div id="flash-messages" class="alert-message" style="display:none;">    
    <a class="close" href="#">&times;</a>
    <p></p>
</div>

<script type="text/javascript">
    $(function () {
        $("#flash-messages").flashMessage();
    });
</script>